body{
  background-color:rgba(200,200,170,1);
  font-family: 'Slabo 27px', serif;
}
/*

    font-family: 'Staatliches', cursive;

    font-family: 'Slabo 27px', serif;

*/
#header{
  text-align:center;
  background-color:rgba(220,180,180,1);
  padding:2vh;
  margin:2%;
  font-family: 'Staatliches', cursive;
}
#navbar{
  margin:2%;
  background-color:black;
  margin-top:-2%;
  color:#ddd;
  overflow:hidden;
}
#navbar a{
  float:left;
  display:block;
  padding: 14px 16px;
  text-decoration:none;
  color:#ccccf0;
}
#navbar a:hover{
  background-color:white;
  color:black;
}
#main-content{
  height:500px;
  background-color:rgba(220,180,180,1);
  margin:3%;
  width:74%;
  float:left;
}
#left-bar{
  float:left;
  width:13%;
  height:500px;
  margin:2%;
  margin-top:3%;
  margin-right:0%;
  background-color:rgba(220,180,180,1);
  padding:10px;
}
.postTitle{
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(200, 200, 200, .8);
  margin:2rem;
  margin-right: 30rem;
  padding:.3rem;
}
.postBody{
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(225, 230, 255, 0.8);
  margin: 2rem;
  padding:2rem;
}
.post{
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 6px;
  margin-top: 6px;
}
.date{
  text-align: right;
}
